@charset 'utf-8';

body{
	width: 100%;
}

header ul{
	list-style-type: none;
	margin: 0px;
	padding: 0px;	
}

header li{
	float: left;
	background: #E4B7E5;
	width: 25%;
}

header li a{	
	display: block;
	float: left;
	margin: 5px 20px;
	padding: 10px 10px;
	text-align: center;
}


footer{
	display: block;
	float: left;
	background: #E4B7E5;
	width: 100%;
	padding: 25px 25px;
	text-align: center;
}	

@media screen and (max-width: 600px){
	header li a{	
		display: flex;
		flex-wrap: wrap;
	}
	
	header li{
		display: flex;
		width: 100%;
		flex-wrap: wrap;
	}

	header li a{	
		display: flex;
		flex-wrap: wrap;
		text-align: center;
	}
	
	#homeImg{
		display: flex;
		flex-wrap: wrap;	
		display: block;
		float: left;
		padding: 10px;
		margin: 10px auto;
	}	
	
	#homeImg img{
		width: 100%;
		margin: 5px auto;
	}
}

@media screen and (min-width: 601px){

	#homeImg{
		display: block;
		float: left;
		padding: 10px;
		margin: 10px auto;	
	}	
	
	#homeImg img{
		width: 30%;
	}
}

