@charset "utf-8";

h1, h2, h4, h5{
	color:white;
    margin: 0px 25px;
}

ul.dashed li:before{
    content: "— ";
    text-indent: -px;
}

main{
    margin: 0px 50px;
}

#headshot img{
    width: 20%;
}

/*Media Queries Mobile, Tablet, Desktop*/
@media screen and (max-width: 480px) {

}

@media screen and (min-width: 481px) and (max-width: 768px){

}

@media screen and (min-width: 769px){
	
}