@charset "utf-8";

h1, h2, h4, h5{
	color:white;
    margin: 0px 25px;
}

ul.dashed li:before{
    content: "— ";
    text-indent: -px;
}

main{
    margin: 0px 50px;
}

#headshot img{
    width: 20%;
}

li img{
	width: 30px;
	aspect-ratio: 1/1;
	object-fit: fit;
	object-position: 0%;
	margin: 0px 15px;	
}



.button {
    display: block;
    width: 30%;
    aspect-ratio: 5/1;
    background: #e3c502;
    border-radius: 10px;
    margin: auto;
}

.button h3{
    float: left;
    width: 80%;
    padding: 0px;
    text-align: center;
    margin: auto 0px;
    color: #030d22;
    font-size: 13pt;
}

.button img{
    float: left;
    width: 10%;
    margin: auto 0px;
}

.button:hover{
    background: #b09801;
}

/*Media Queries Mobile, Tablet, Desktop*/
@media screen and (max-width: 480px) {

}

@media screen and (min-width: 481px) and (max-width: 768px){

}

@media screen and (min-width: 769px){
	
}