@charset "utf-8";

div#card{
    display: flex;
    flex-flow: row wrap;
}

div.card{
    background-color: grey;
    border: 2px solid white;
    width: 33%;
    height: width;
    min-width: 250px;
}

div.cardInner{
    position: absolute;
    width: 33%;
    aspect-ratio: 1/1;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
}

div.card:hover div.cardInner{
    transform: rotateY(180deg);
}

div.cardFront, div.cardBack{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

div.cardFront{
    background: pink;
}

div.cardBack{
    display: grid;
    background: blue;
    transform: rotateY(180deg);
}

div img{
    width: 200px;
}

div#word{

}

div#excel{

}

div#powerpoint{

}

div#fusion360{

}

div#sutocad{

}

div#invento{

}

div#testout{

}

