@charset "utf-8";

.contactPage input, textarea, label{
    border-radius: 5px; 
    width: 25%; 
    margin: 0px auto; 
    display: block;
}

.contactPage input{
    border-radius: 5px; 
    height: 30%; 
}

.contactPage textarea{
    height: 25%;
    resize: none;
}

form{
    margin-bottom: 50px;
}