@charset "utf-8";

h1{
    padding-bottom: 3rem;
}

#contact{
    background: #030d22;
    width: 75%;
    margin: auto;
    border-radius: 25px;
    box-shadow: 0px 0px 5px#030d22;
    padding: 1rem;
    display: flex;
}

#sides{
    width: 25%;
    margin: 15px auto;
    display: flex;
    flex-flow: column nowrap;
}

.side{
    display: flex;
    width: 100%;
    aspect-ratio: 5/1;
    background: #d41b77;
    margin: 10px 0px;
    padding: 5px;
    border-radius: 5px;
}

.side img{
    width: 100px;
    width: 25%;
    aspect-ratio: 1/1;
    background: #1e9be0;
    margin: 15px;
    border-radius: 5px;
    padding: 10px;
}

.side .text{
    width: 75%;
    margin: auto ;
}

form{
    width: 75%;
    max-width: 500px;
    margin: 25px auto;
}

.contactPage input, textarea, label{
    border-radius: 5px; 
    width: 100%; 
    margin: 0px auto; 
    display: block;
}

.contactPage input:not(:last-child){
    border-radius: 5px; 
    height: 30px; 
}

.contactPage textarea{
    height: 25%;
    resize: none;
}

#download{
    display: flex;
    width: 75%;
    background: #e3c502;
    margin: auto;
    border-radius: 5px;
}

#download p{
    font-weight: bold;
    margin: auto;
}

.contactPage #submit{
	background: #e3c502;
	width: 100%;
    height: 50px;	
	border-radius: 5px;
	color: #030d22;
	padding: 10px 0px;
	margin: 10px 0px;
	font-size: 14pt;
	font-weight: bold;
}

/*Media Queries Mobile, Tablet, Desktop*/
@media screen and (max-width: 480px) {
    #contact{
        width: 90%;
        flex-flow: column nowrap;
    }
    
    #sides{
        width: 75%;        
    }

    .text h3{
        font-size: 14pt;
    }
    
    .text p{
        font-size: 9pt;
    }

    #download p{
        font-size: 8pt;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px){

}

@media screen and (min-width: 769px){
	
}