@charset "utf-8";

h1, h2, h3, h4, h5{
	text-align: center;
	color:white;
}

h1, h2, main p{
	width: 50%;
	margin: 0px auto;
	padding: 0px;
	text-align: left;
	line-height: 1.3;
}

h1{
	font-size: 40pt;
}

h2{
	margin-top: 5px;
	font-size: 30pt;
}

main p{
	margin-top: 20px;
	font-size: 20pt;
	line-height: 1.25;
}

#logosMain{
	width: 100%;
	margin: 25px auto;
	display: inline-flex;
}

#logosMain ul{
	width: 50%;
	margin: 0px auto;
	display: inline-flex;
}

#logosMain img{
	width: 30px;
	aspect-ratio: 1/1;
	object-fit: contain;
	object-position: 0%;
	margin: 0px 15px;	
	filter: invert(46%) 
			sepia(76%) 
			saturate(750%) 
			hue-rotate(163deg) 
			brightness(98%) 
			contrast(85%);
}

#logosMain a{
	float: left;
	text-align: center;
	text-decoration: none;
	padding: 10px 0px;
}

#logosMain img:hover{
	filter: invert(95%) 
			sepia(100%) 
			saturate(0%) 
			hue-rotate(109deg) 
			brightness(105%) 
			contrast(105%);
}

footer{
	width: 100%;
	background: none;
	position: absolute;
	bottom: 0;
	padding: 0px;
	margin: 0px;
}

footer .bottom{
	display: block;
	width: 100%;
	color: #030d22;
	text-align: center;
	position: absolute;
	bottom: 0;
	margin-bottom: -7rem;
}

footer .bottom p{
	width: 100%;
	text-align: center;
}

/*Media Queries Mobile, Tablet, Desktop*/
@media screen and (max-width: 480px) {

}

@media screen and (min-width: 481px) and (max-width: 768px){

}

@media screen and (min-width: 769px){
	
}