@charset "utf-8";

img{
    width: 50%;
    margin: 20px auto;
}

div.logos img{
    background: white;
    height: 200px;
}

a{
    color: white;
    text-decoration: none;
}

/*Media Queries Mobile, Tablet, Desktop*/
@media screen and (max-width: 480px) {

}

@media screen and (min-width: 481px) and (max-width: 768px){

}

@media screen and (min-width: 769px){
	
}