@charset "utf-8";


div.logos img{
    background: white;
    height: 200px;
}

a{
    color: white;
    text-decoration: none;
}

.cards{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    border: 1px solid red;
}

.cards .html, .photoshop, .dreamweaver, .logos{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    border: 1px solid green;
}

.cards h2{
    width: 100%;
}

.card{
    width: 20%;
    display: grid;
    box-sizing: border-box;
    margin: 25px;
}

.card img{
    width: 100%;
    aspect-ratio: 1/2;
    max-height: 500px;
	object-fit: cover;
	object-position: 0%;
}

/*Media Queries Mobile, Tablet, Desktop*/
@media screen and (max-width: 480px) {

}

@media screen and (min-width: 481px) and (max-width: 768px){

}

@media screen and (min-width: 769px){
	
}