@charset "utf-8";

a{
    color: white;
}

ul{
    margin-bottom: 100px
}

ul ul{
    margin-bottom: 0px;
}

/*Media Queries Mobile, Tablet, Desktop*/
@media screen and (max-width: 480px) {

}

@media screen and (min-width: 481px) and (max-width: 768px){

}

@media screen and (min-width: 769px){
	
}