/* Place your CSS styles in this file */
.h1 {
  text-align: center;
  font-family: 'Poppins', sans-serif;    
  font-weight: normal;
  color: pink;
}

.h2 {
  text-align: center;
  font-family: 'Poppins', sans-serif;    
  font-weight: normal;
}

.button {
  background-color: grey;
  color: white;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;    
  width: 50%;
  height: 50%;
  text-align: center;
  align-items: left;
  display: block;
  
}

.button:hover {
  background-color: lightgrey;
}


p{
  width: 100%;
  text-align: right;
  margin-top: -30px;
  padding-right: 10px;
  color: #737373;
}

