/* Place your CSS styles in this file */

h1 {
  text-align: center;
  font-family: 'Poppins', sans-serif;    
  font-weight: normal;
}

h2 {
  text-align: center;
  font-family: 'Poppins', sans-serif;    
  font-weight: normal;
}

.button {
  background-color: #800022;
  border: none;
  color: white;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;    
  width: 100%;
  height: 50%, center;
  display: block;

}

.button:hover {
  background-color: lightgrey;
}

p{
  width: 100%;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  margin-top: -30px;
  padding-right: 10px;
  color: #737373;
}

.textarea {
  min-width: 100px;
  min-height: 100px;
  max-width: 500px;
  max-height: 100px;
}

.footer{
  background-color: #800022;
}

.accordionC{
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}



* {
  box-sizing: border-box;
}

@media only screen and (max-width: 600px) {

}

@media only screen and (min-width: 600px) {

}

@media only screen and (min-width: 768px) {
  
}

@media only screen and (min-width: 992px) {

}

@media only screen and (orientation: landscape){
  
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back-word {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}
/* Position the front and back side */
.flip-card-front, .flip-card-back-powerpoint {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}
/* Position the front and back side */
.flip-card-front, .flip-card-back-excel {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back-word {
  background-color: blue;
  color: white;
  transform: rotateY(180deg);
}
/* Style the back side */
.flip-card-back-powerpoint {
  background-color: orange;
  color: white;
  transform: rotateY(180deg);
}
/* Style the back side */
.flip-card-back-excel {
  background-color: green;
  color: white;
  transform: rotateY(180deg);
}

