@charset "utf-8";

*{
	font-family: 'Poppins', sans-serif;   
	box-sizing: border-box; 
}

body, main, header, p, h1, h2, h3, h4, h5, h6, footer, li{
	display: block;
	margin: 0px;
	padding: 0px;
}

h1, h2{
	width: 100%;
	text-align: center;
	color:whitesmoke;
	text-decoration: solid;
}

#contentWrap{
	margin-bottom: 100px; 
}

body{
	background-color: #1d1347;
	width: 100%;
	color: whitesmoke;
	display: flex;
	flex-flow: column;
}

a{
	color: white;
}

/*nav bar */
#homeLogo{
	width: 5%;
	object-fit: contain;
	background: #030d22;
}

#homeLogo img{
	background: #030d22;
	height: 19px;
	margin: auto;
}

a#navicon, #logo {
	display: none;
}

a#navicon:hover {
	background: #d41b77;
}

a#navicon img{
	width: 25px;
	margin: 0px;
}

header *{
	background: rgb(212, 27, 119);
	margin: 0px;
	padding: 0px;
	flex: 100%;
	top: 1;
}

header a{
	float: left;
	background: #d41b77;
	width: 19%;
	text-align: center;
	text-decoration: none;
	padding: 10px 0px;
	color: white;
}

header ul a:hover {
	background: #1e9be0;
}

/*Nav bar dropdown #395*/

p{
	width: 100%;
	color: whitesmoke;
}

#pageContainer{
	position: relative;
	min-height: 100%;
}

#contentWrap{
	padding: 5rem 0px;
}

/*footer*/
footer{
	background: rgb(212, 27, 119);
	position: relative;
	bottom: -1;
	color: white;
	padding: 0px;
	margin: 0px;
	height: 17rem;
}

footer .row.primary{
	display: grid;
	grid-template-columns: 2fr 1fr 1.5fr 2fr;
	grid-template-rows: 1fr;
	padding: 5px 25px;
}

footer .row.bottom{
	grid-template-columns: 1fr;
}

footer .column{
	width: 100%;
	display: flex;
	flex-flow: column;
	padding: 5px;
}

footer .links{
	width: 100%;
	flex-flow: column;
	padding: 5px;
}

footer #social *{
	display: flex;
	margin: 0px;
	padding: 0px;
}

footer #social ul{
	flex-flow: row wrap;
}

footer #social li{
	width: 50%;
	padding: 10px 5px;
}

footer #social img{
	margin: 0px 5px;
}

footer h3{
	font-size: 16pt;
	text-align: left;
}

footer ul{
	list-style: none;
	display: flex;
	flex-flow: column;
	padding: 0px;
	margin: 0px;
}

footer .column.links li{
	padding: 3px 0px;
}

footer .column.links a{
	text-decoration: none;
	color: #030d22;
}

footer .column.links a:hover{
	text-decoration: none;
	color: #1e9be0;
}

footer img{
	width: 30px;
	aspect-ratio: 1/1;
	object-fit: contain;
	object-position: 0%;
	margin: 0px;	
	padding-right: 5px;
	vertical-align: middle;
}

footer img:hover{
	filter: invert(46%) 
			sepia(76%) 
			saturate(750%) 
			hue-rotate(163deg) 
			brightness(98%) 
			contrast(85%);
}

footer .about p{
	line-height: 1.5;
	text-align: left;
	font-size: 12pt;
}

/*Footer Bottom*/
footer .bottom *{
	background: rgb(30,155,224);
	margin: 0px;
	padding: 0px;
}

footer .bottom{
	background: rgb(30,155,224);
	position: fixed;
	width: 100%;
	display: flex;
	margin: 0px;
	padding: 10px 25px;	
	color: #030d22;
	text-align: center;
	position: relative;
	bottom: 0;
	width: 100%;
}

#footMenu ul{
	text-decoration: none;
	display: inline;
	width: 100%;
}

#footMenu li{
	text-decoration: none;
	display: inline;
	width: 50px;
}

#footMenu a{
	text-decoration: none;
	color: #030d22;
	padding: 0px 8px;
}

footer .bottom p{
	width: 250px;
	text-align: right;
	color: #030d22;
	margin-left: auto;
}

/*Contact Footer*/
.contact form{
	display: flex;
	flex-flow: row wrap;
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.contact input{
	background: lightgrey;
	margin: 5px 0px;
	border-radius: 5px;
}

.contact input#fn, .contact input#ln{
	float: left;
	width: 50%;
	margin: 5px auto;
}

.contact input#email{
	width: 100%;
	float: left;
}

.contact textarea{
	width: 100%;
	aspect-ratio: 10/1;
	margin-top: 5px;
	background-color: whitesmoke;
}

#submit{
	background: #e3c502;
	width: 100%;	
	aspect-ratio: 17/1.5;
	border-radius: 5px;
	color: #030d22;
	padding: 0px;
	margin: 10px 0px;
	font-size: 14pt;
	font-weight: bold;
}


/*Scroll Bar*/
::-webkit-scrollbar{
	width: 12px;
}

::-webkit-scrollbar-track{
	background: grey;
}

::-webkit-scrollbar-thumb{
	background: rgb(30,155,224);
} 

/*Media Queries Mobile, Tablet, Desktop*/
@media screen and (max-width: 480px) {
	main{
		margin: 0px 25px;
	}

	a#logo{
		display: block;
	}
	
	a#navicon{
		display: block;
		width: 100%;
	}

	a#navicon img{
		position: absolute;
		margin: 10px;
		left: 0;
		top: 0;
	}
	
	a#logo img{
		background: #1d1347;
		width: 50px;
		top: 0;
	}

	nav ul{
		display: none;
	}

	a#navicon:hover + ul, nav ul:hover{
		display: block;
	}

	nav{	
		display: flex;
		flex-wrap: wrap;
	}
	
	nav a{
		display: flex;
		width: 100%;
		flex-wrap: wrap;
		padding: 10px;
		margin-bottom: 0;	
	}	

	footer{
		height: 50em;
	}

	footer .row.primary{
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
		padding: 5px 25px;
	}
	
	footer .row.bottom{
		grid-template-columns: 1fr;
	}
	
	footer .column{
		width: 100%;
		display: flex;
		flex-flow: column;
		padding: 5px;
	}

	footer .column{
		grid-template-columns: 1fr;
		flex-flow: row wrap;
	}

	footer form{
		width: 100%;
	}

	.contact input#fn, .contact input#ln{
		display: flex;
		width: 50%;
	}

	.column.links h3{
		width: 100%;
	}

	#footMenu{
		display: block;
		width: 100%;
	}	
	
	#footMenu ul{
		display: block;
		width: 100%;
	}
	
	#footMenu li{
		display: block;
	}
	
	#footMenu a{
		color: #030d22;
		padding: 0px 8px;
		font-size: 10pt;
	}

	.row.bottom {
		font-size: 10pt;
	}
	
	#copyRight p{
		width: 100%;
		border: 10px solid red;
	}
}

@media screen and (min-width: 481px) and (max-width: 1024px){
	main{
		margin: 0px 35px;
	}

}

@media screen and (min-width: 1025px){
	main{
		margin: 0px 50px;
	}

}
