/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   Tutorial 7
   Review Assignment

   Customer Information Validation Style Sheet
   Author: Abigail Paulus
   Date:   10/27/2023

   Filename: rb_validate.css

*/


/* Validation Styles */
input:focus, select:focus, textarea:focus{
	background-color: rgb(255, 255, 180);
}

#nameBox:focus:valid, #phoneBox:focus:valid{
	background: rgb(220, 255, 220) url('rb_okay.png') right no-repeat;
}

#nameBox:focus:invalid, #phoneBox:focus:invalid{
	background: rgb(255, 230, 230) url('rb_warning.png') right no-repeat;
}

