@charset 'utf-8';



body{
	width: 100%
}

header ul{
	list-style-type: none;
	margin: 0px;
	padding: 0px;	
}	

header li{	
	float: left;	
	background-color: hsla(340, 70%, 80%, 0.5);	
	width: 20%;
}

header li a{	
	display: block;
	float: left;
	margin: 5px 20px;
	padding: 10px;
	text-align: center;
}

#gridImg{
	display: block;
	float: left;
	width: 1/5;
	padding: 10px;

}

#gridImg figcaption{
	text-align: justify;
}

main{
	background-color: #D4ADCF;
	padding: 25px;
}

aside{
	background-color: #F4B860;
	padding: 20px;
}

section{
	min-height: 300px;
	padding: 20px;

}

section#sec1{
	background-color: #84E296;
}

section#sec2{
	background-color: #46B1C9 ;
}

section#sec3{
	background-color: #FCF5C7 ;
}

footer{
	display: block;
	clear: left;
	background-color: hsla(340, 70%, 80%, 0.5);
	text-align: center;
	padding: 50px;
}