@charset 'utf-8';

body{
	display: grid;
	grid-template-columns: 0.4fr 0.3fr 0.3fr;
	grid-column-gap: 10px;
	grid-row-gap: 15px;
}

header{
	grid-column: 1/4;
	grid-row: 1/2;	
}

main, aside, section{
	padding: 10px;
}

main{
	grid-column: 2/4;
	grid-row: 2/4;
	background: #827081;
}

aside{
	background: #3BCEAC;
	grid-column: 1/2;
	grid-row: 3/5;	
}

#sec1{
	background: #FEEFE5;
	grid-column: 1/2;
	grid-row: 2/3;	
}

#sec2{
	background: #FFCF00;
	grid-column: 2/4;
	grid-row: 4/5;	
}

#sec3{
	background: #00B2CA;
	grid-column: 3/4;
	grid-row: 5/6;	
}

#pics{
	background: #F7B2B7;
	grid-column: 1/3;
	grid-row: 5/6;		
	width: 100%;
}

#img{
	display: flex;
	width: 100%;
	margin: auto;
}

img{
	width: 250px;
	height: 250px;
	margin: 10px;	
	object-fit: cover;
}

footer{
	grid-column: 1/4;
	grid-row: 6/7;	
}
