@charset 'utf-8';

body{
	width: 100%;	
	display: flex;
	flex-flow: row wrap;

}
header{
	order: -1;
	width: 100%;
}



article{
	border: 2px solid grey;
	background: #C4B2BC;
	order: 100;
	padding: 10px;
}

aside{
	display: block;
	border: 2px solid grey;
	background: #E4FDE1;
	order: 99;
	padding: 10px;
}

footer{
	order: 101;
}

#imgs{
	display: flex;
	flex-flow: row wrap;
	width: 100%;
}

img{
	width: 300px;
	height: 300px;
	margin: 10px;	
	object-fit: cover;
}


@media screen and (max-width: 600px){
	main{
	display: flex;	
	flex-flow: row wrap;
	}	
	
	article{
		order: 10;
	}
	
	aside{
		order: 9;
	}
	
	article, aside{
		flex: 100%;
	}
	footer, header{
		display: block;
		width: 100%;
	}
	
	img{
		width: 100%;
		margin: 10px auto;
	}
}

@media screen and (min-width: 601px){
	main{
	display: flex;	
	flex-flow: wrap;
	width: 100%;
	}	
	
	article{
		flex: 1 0 0px;
	}
	
	aside{
		flex: 0 0 200px;
	}
	
	#imgs{
		width: 100%;
		margin: auto;
	}
	
	img{
		width: 30%;
		margin: 10px auto;
	}
}

