/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   Tutorial 3
   Review Assignment
   
   Style Sheet for the Pandaisia Chocolates Monthly Specials
   Author: Abigail Paulus
   Date:   10/4/2023
   
   Filename: pc_specials.css

*/

/*body > *{
	outline: 2px dashed red;
}

section > *{
	outline: 2px dashed blue;
}*/

/* Page Body Styles */
body{
	margin-left: auto;
	margin-right: auto;
	min-width: 640px;
	max-width: 960px;
	width: 95%;
}


/* Image Styles */
img{
	display: block;
	width: 100%;
}


/* Horizontal Navigation Styles */
nav{
	display:block;
	width: 100%;
}

nav.horizontal li{
	display: block;
	float: left;
	width: 16.66%;
}

nav.horizontal a{
	display: block;
}

/* Grid Styles */
body{
	display: grid;
	grid-template-columns: 2fr 1fr;	
	grid-gap: 20px;
}

body > header{
	grid-column: 1/-1;
}

body > footer{
	grid-column: 1/-1;

}

section#sub{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

/* Specials Styles */
div.specials{
	min-height:400px;
	outline: 1px dashed  rgb(71, 52, 29);
}

/* Award Styles */
aside{
	overflow: auto;
	position: relative;
	height: 650px;
}

aside > div{
	position: absolute;
	width: 30%;
}

div#award1{
	top: 80px;
	left: 5%;
}

div#award2{
	top: 280px;
	left: 60%;
}

div#award3{
	top: 400px;
	left: 20%;
}

div#award4{
	top: 630px;
	left: 45%;
}

div#award5{
	top: 750px;
	left: 5%;
}



